// ABSTRACT
@import "abstract/variables";

// BASE
@import "base/normalize";
@import "base/typography";

// COMPONENTS
@import "components/buttons";

// LAYOUT
@import "layout/grid";
@import "layout/navigation";
@import "layout/header";
@import "layout/footer";

// PAGES
@import "pages/home";

// VENDORS


// temp
.test {
margin-top: 100px;
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
}
